<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Pragovi -->
		<add key="OverTempThreshold" value="75" />
		<add key="VoltageImbalancePct" value="10" />
		<add key="PowerFlatlineWindow" value="5" />
		<add key="PowerSpikeThreshold" value="1.5" />
		<add key="DcSagDelta" value="50" />
		<add key="LowEfficiencyRatio" value="0.6" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="TcpBinding"
                         transferMode="Streamed"
                         maxBufferSize="10485760"
                         maxReceivedMessageSize="10485760"
                         openTimeout="00:00:10"
                         closeTimeout="00:00:10"
                         sendTimeout="00:00:30"
                         receiveTimeout="00:10:00">
					<readerQuotas maxDepth="128"
                                  maxStringContentLength="1048576"
                                  maxArrayLength="1048576"
                                  maxBytesPerRead="4096"
                                  maxNameTableCharCount="16384" />
					<security mode="None" />
					<reliableSession enabled="false"/>
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			<service name="Virtuelizacija.Services.SolarService" behaviorConfiguration="ServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8088/SolarService"/>
					</baseAddresses>
				</host>
				<endpoint address=""
                          binding="netTcpBinding"
                          bindingConfiguration="TcpBinding"
                          contract="Common.ISolarService" />
				<endpoint address="mex"
                          binding="mexTcpBinding"
                          contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>